<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="jackDanService" class="com.jackdan.spring.service.JackDanServiceImpl">
        <property name="jackDanDao" ref="jackDanDao" />
    </bean>
    <bean id="jackDanDao" class="com.jackdan.spring.dao.JackDanDaoImpl"></bean>
</beans>